body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #fceae8;
    padding: 20px;
}

form {
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    display: inline-block;
    
}

label, select {
    display: block;
    margin: 10px 0;
}

button {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
}

#result {
    color: #333333;
    margin-top: 30px;
    font-size: 24px;
}

.resultBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ff000080;
}

.boxContent {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
}

#closeBox {
    cursor: pointer;
    float: right;
    font-size: 24px;
}

.boxContent img {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}